[Server]
# Set the site name in the upper left corner of the list page
SiteName="serve-swagger-ui"
# Set server bind domain base URL
# If you use oauth login, please set it correctly
BaseURL="http://localhost:9080"
# set jwt encryption key, any character 8 to 16 characters long, for frontend authentication cookie encryption
JwtKey=""
# bind host ip
# If the startup command parameter --host is specified, this config value will be ignored
Host="0.0.0.0"
# web server bind port
# If the startup command parameter --port is specified, this config value will be ignored
Port=9080
# Web read and write timeout and, most use the default value
ReadTimeout=30
WriteTimeout=30
# Open or Close Cross-Origin Resource Sharing, most use the default value
# see: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
Cors=false

[Log]
# log level, optional values are: panic|fatal|error|warning|info|debug|trace
# If the startup command parameter --log_level is specified, this config value will be ignored
Level="error"
# log record path, can use STD or DIR path, optional values are: stderr|stdout|file_path_only_dir
# If the startup command parameter --log_path is specified, this config value will be ignored
Path="stderr"

[Swagger]
# Specify the directory path where the swagger JSON file is located
# You can use a directory to group multiple documents.
# The first-level subdirectory name will be automatically used as a group
# and those without a first-level subdirectory will be as the `default` group.
# If the startup command parameter --path is specified, this config value will be ignored
# for example:
#
# ├── runtime
# │   ├── Gs
# │   │   ├── 1.json
# │   │   └── sub
# │   │        └── 2.json
# │   ├── 3.json
# │   └── 4.json
# 
# three will be TWO group:
#   default : contain 1.json and 2.json
#   Gs      : contain 3.json and 4.json
Path="./runtime"

[Google]
# google oAuth login ID && secret, see: https://console.cloud.google.com/apis/credentials
ClientID=""
ClientSecret=""
# set jwt encryption key, any character 8 to 16 characters long
# used for frontend authentication cookie encryption key
JwtKey=""

[Account]
# Set allowed the domain of email addresses
# for example: Domain=["tvb.com", "tvb.hk"]
# Then all email address with tvb.com and tvb.hk as the domain name suffix are allowed to log in
# Domain and Email can be set to take effect at the same time
Domain=[]
# Set allowed email address, for example: Email=["aaa@tvb.com", "bbb@tvb.com"]
# Set the full email address to allow logins
# Email and Domain can be set to take effect at the same time
Email=[]
